// Copyright (C) 2023 Genome Surveillance Unit/Genome Research Ltd.

/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    meta = [id:"test"]
    db_path = "${projectDir}/tests/test_data/test_kraken_databases/minimal"
    use_local_containers = false
    use_registry_containers = true
}

process {

    // default container
    container = "quay.io/gsu-pipelines/rvi-vp-basecontainer:v1.1"

    withLabel: ivar {
        container = "quay.io/gsu-pipelines/rvi-vp-ivar:v1.1"
    }

    withLabel: kraken {
        container = "quay.io/gsu-pipelines/rvi-vp-kraken2:v1.0"
    }

    withLabel: pangolin {
        container = "quay.io/biocontainers/pangolin:4.3.1--pyhdfd78af_0"
    }

    withLabel: kraken2ref {
        container = "quay.io/gsu-pipelines/rvi-vp-kraken2ref"
    }

    withLabel: qc {
        container = "quay.io/gsu-pipelines/rvi-vp-qc:v1.1"
    }

    // ignore memory LSF k2r escalation strategy
    withLabel: mem_k2r_escalate {
        memory = "1 GB"
    }
}
