// Copyright (C) 2023 Genome Surveillance Unit/Genome Research Ltd.

process {
    // default container
    container = "docker://python:3.15.0a2-trixie"

    withLabel: ivar {
        container = "quay.io/sangerpathogens/rvi-vp-ivar:1.2"
    }

    withLabel: kraken {
        container = "docker://staphb/kraken2:2.1.6"
    }

    withLabel: pangolin {
        container = "quay.io/biocontainers/pangolin:4.3.1--pyhdfd78af_0"
    }

    withLabel: kraken2ref {
        container = "quay.io/sangerpathogens/rvi-vp-kraken2ref:2.2.1"
    }

    withLabel: qc {
        container = "quay.io/sangerpathogens/rvi-vp-qc:1.1"
    }

    withLabel: aligner {
        container = "quay.io/sangerpathogens/rvi-vp-alignment:1.0"
    }

    withLabel: nextclade {
        container = "docker://nextstrain/nextclade:3.16.0"
    }
}
