// Copyright (C) 2023 Genome Surveillance Unit/Genome Research Ltd.
params {
    // sets where to find the containers
    containers_dir = "$projectDir/containers/"
    // toggle container usage
    use_local_containers = false
    use_registry_containers = true
}

process {
    if (params.use_local_containers){
        // default container
        container = "${params.containers_dir}/base_container.sif"

        withLabel: ivar {
            container = "${params.containers_dir}/ivar.sif"
        }

        withLabel: kraken {
            container = "${params.containers_dir}/kraken.sif"
        }

        withLabel: pangolin {
            container = "${params.containers_dir}/pangolin.sif"
        }

        withLabel: kraken2ref {
            container = "${params.containers_dir}/kraken2ref.sif"
        }

        withLabel: qc {
            container = "${params.containers_dir}/qc.sif"
        }

        withLabel: nextclade {
            container = "${params.containers_dir}/nextclade_3.16.0.sif"
        }
    }

    if (params.use_registry_containers){
        // default container
        container = "quay.io/gsu-pipelines/rvi-vp-basecontainer:v1.1"

        withLabel: ivar {
            container = "quay.io/gsu-pipelines/rvi-vp-ivar:v1.1"
        }

        withLabel: kraken {
            container = "quay.io/gsu-pipelines/rvi-vp-kraken2:v1.0"
        }

        withLabel: pangolin {
            container = "quay.io/biocontainers/pangolin:4.3.1--pyhdfd78af_0"
        }

        withLabel: kraken2ref {
            container = "quay.io/gsu-pipelines/rvi-vp-kraken2ref:v2.2.0"
        }

        withLabel: qc {
            container = "quay.io/gsu-pipelines/rvi-vp-qc:v1.1"
        }

        withLabel: nextclade {
            container = "docker://nextstrain/nextclade:3.16.0"
        }
    }
}
